* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  transition: 0.5s;
  font-family: system-ui;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.837);
  backdrop-filter: blur(30px);
  position: fixed;
  top: 0;
  z-index: -1;
}
h1 {
  color: white;
  margin-top: 52px;
  text-align: center;
  font-size: 53px;
}
.players-account {
  width: 611px;
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  span {
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  div {
    background-color: #1496bc;
    font-size: 16px;
    width: fit-content;
    border-radius: 27px;
    display: flex;
    align-items: center;
    padding: 4px 14px 4px 5px;
    justify-content: space-between;
    gap: 9px;
    img {
      width: 40px;
      height: 40px;
      background: white;
      border-radius: 50%;
      padding: 4px;
    }
  }
  .second-player {
    background-color: #c05151;
  }
}
.start-game {
  background-color: white;
  border: 2px solid #00cc43;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  .player {
    min-width: 145px;

    display: flex;
    align-items: center;
    gap: 8px;
    background: #1496bc;
    padding: 4px 15px 4px 4px;
    border-radius: 26px;
    color: white;
    margin: 14px;
    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: #fff;
      padding: 3px;
    }
    h3 {
      font-size: initial;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 400px;
    background: #1496bc;
    padding: 20px;
    border-radius: 5px;
    color: white;
    position: relative;
    margin-bottom: 60px;
    input {
      width: 76%;
      border: none;
      padding: 10px;
      background-color: #fff;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    .warning {
      color: red;
      font-size: 11px;
      display: none;
      position: absolute;
      right: 25px;
      font-weight: bold;
      background: white;
      padding: 2px;
      border-radius: 4px;
      width: 273px;
      transform: translateY(2px);
      border: 2px solid;
    }
    p {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }
    & > div {
      &:last-child {
        display: none;
        gap: 10px;
        align-items: center;
        p {
          width: 71px;
        }
      }
      &.active {
        display: flex;
      }
    }
  }
  label {
    font-weight: bold;
    display: inline-block;
    width: 77px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .emoji-container {
    width: 77px;
    background: #fff;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 26px;
    overflow-y: scroll;
    height: 34px;
    img {
      width: 30px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: rgb(0, 200, 40);
      }
    }
    .active {
      background-color: rgb(0, 200, 40);
    }
  }
  & > div {
    &:last-child {
      font-size: 13px;
      position: absolute;
      bottom: 20px;
      cursor: pointer;
      color: #0084cb;
      font-weight: bold;
    }
  }
  button {
    background: #1496bc;
    color: white;
    border: none;
    width: fit-content;
    padding: 8px 22px;
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
    right: 98px;
    cursor: pointer;
    &:first-of-type {
      bottom: 30px;
      left: 98px;
    }
  }
}
.container {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .box {
    width: 100px;
    height: 100px;
    box-shadow: -2px -2px 10px #dbdbdb, 2px 2px 10px #dbdbdb;
    background-color: white;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 71px;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 4px;
  }
}
.xo-popup {
  border-radius: 4px;
  display: flex;
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  padding: 4px;
  gap: 4px;
  &::after {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-right-width: 10px;
    border-left-width: 10px;
    border-top-color: #000000;
    left: 25px;
    bottom: -39px;
  }
  &.first-player-clr {
    background-color: #1496bc;
    &::after {
      border-top-color: #1496bc;
    }
  }
  &.second-player-clr {
    background-color: #c05151;
    &::after {
      border-top-color: #c05151;
    }
  }
}
.x,
.o {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 2px;
  color: black;
  background: #fff;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
}

.game-end-popup {
  width: 600px;
  height: 150px;
  background-color: #00a66e;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    line-height: 2;
    font-size: 40px;
  }
  button {
    border: none;
    font-weight: bold;
    color: white;
    padding: 11px 20px;
    border-radius: 5px;
    background-color: #0a2a09;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
