* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  transition: 0.5s;
  font-family: system-ui;
  overflow: hidden;
  background-image: url(../../assets/imgs/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0895e6, #de0808);
  border-radius: 8px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  z-index: -1;
}

h1 {
  color: white;
  margin-top: 30px;
  text-align: center;
  font-size: 53px;
}

.players-account {
  gap: 330px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 18px auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.players-account .start {
  width: 100px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
@media (max-width: 760px) and (min-width: 450px) {
  .players-account {
    gap: 160px;
  }
  .players-account .start {
    width: 80px;
  }
}
@media (max-width: 450px) {
  .players-account {
    gap: 0;
    width: 95%;
  }
  .players-account .start {
    opacity: 0;
    width: 0;
  }
}

.account {
  background: linear-gradient(45deg, #00133c, #018bd5);
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 130px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  padding: 4px 14px 4px 5px;
  gap: 9px;
  color: white;
  cursor: pointer;
}
.account img {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  padding: 4px;
}
.account h3 {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.account span:not(.start-playing span) {
  padding: 3px 45px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 450px) {
  .account {
    font-size: 14px;
    min-width: 115px;
    padding: 4px 14px 4px 5px;
    gap: 5px;
  }
  .account img {
    width: 35px;
    height: 35px;
  }
  .account h3 {
    width: 55px;
  }
}

.first-player,
.second-player {
  position: relative;
}
.first-player .player-info,
.second-player .player-info {
  position: absolute;
  left: 0;
  top: 95px;
  background: #fff;
  border-radius: 5px;
  width: 233px;
  overflow: hidden;
  box-shadow: -5px -5px 20px rgba(44, 44, 44, 0.45), 5px 5px 20px rgba(53, 53, 53, 0.48);
  font-weight: bold;
  transition: 0.3s;
  opacity: 0;
}
.first-player .player-info.active,
.second-player .player-info.active {
  top: 62px;
  opacity: 1;
  z-index: 999;
}
.first-player .player-info > div:nth-child(2),
.second-player .player-info > div:nth-child(2) {
  color: #0084cb;
  cursor: pointer;
}
.first-player .player-info > div:not(.close-btn, div:first-child),
.second-player .player-info > div:not(.close-btn, div:first-child) {
  padding: 7px 5px;
  padding-right: 30px;
  display: flex;
  justify-content: space-evenly;
  font-weight: normal;
  font-size: 17px;
  margin-bottom: 2px;
  border-bottom: 1px solid #dadada;
}
.first-player .player-info > div:not(.close-btn, div:first-child) span:first-child,
.second-player .player-info > div:not(.close-btn, div:first-child) span:first-child {
  width: 106px;
}
.first-player .player-info .account,
.second-player .player-info .account {
  width: 100%;
  border-radius: 0;
  color: white;
  justify-content: left;
}
.first-player .player-info button,
.second-player .player-info button {
  background: linear-gradient(45deg, #00133c, #018bd5);
  border: none;
  padding: 8px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 8px auto;
  color: white;
  display: block;
}
.first-player.second-player button,
.second-player.second-player button {
  background: linear-gradient(45deg, #3c0000, #d50101);
}
.first-player.second-player .player-info,
.second-player.second-player .player-info {
  right: 0;
  left: auto;
}

.second-player-clr {
  background: linear-gradient(45deg, #3c0000, #d50101);
}

.start-playing {
  background-color: #1496bc;
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 27px;
  display: flex;
  align-items: center;
  padding: 4px 14px 4px 5px;
  gap: 9px;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: transparent;
}
.start-playing span {
  width: -moz-fit-content;
  width: fit-content;
}
.start-playing .red,
.start-playing .blue {
  border: 10px solid transparent;
}
.start-playing .blue {
  border-right: 20px solid #0a94be;
  opacity: 0;
}
.start-playing .red {
  border-left: 20px solid #c00707;
}

.close-btn {
  position: absolute;
  top: 13px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.close-btn::after, .close-btn::before {
  content: "";
  width: 3px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  border-radius: 7px;
}
.close-btn::before {
  transform: rotate(-45deg);
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 110px);
  grid-template-columns: repeat(3, 110px);
  gap: 10px;
  justify-content: center;
}
@media (max-width: 760px) {
  .container {
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
  }
}
.container .box {
  box-shadow: -2px -2px 10px #dbdbdb, 2px 2px 10px #dbdbdb;
  background-color: white;
  cursor: pointer;
  position: relative;
  text-align: center;
  font-size: 71px;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 4px;
}

.rounds {
  width: 530px;
  height: 130px;
  justify-content: space-between;
  display: flex;
  background-color: white;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #222222;
  margin: 25px auto;
}
.rounds > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rounds div:last-child .account {
  background: linear-gradient(45deg, #3c0000, #d50101);
}
@media (max-width: 760px) {
  .rounds {
    width: 450px;
    height: 115px;
    padding: 15px;
  }
}
@media (max-width: 450px) {
  .rounds {
    width: 95%;
    padding: 7px;
    font-size: 22px;
  }
}

.left-slider,
.right-slider {
  color: white;
  min-width: 450px;
  position: fixed;
  height: 100vh;
  top: 0px;
  background-image: url(../../assets/imgs/bg-list.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  overflow-y: scroll;
  transition: 0.3s;
  z-index: 1000;
}
.left-slider.left-slider,
.right-slider.left-slider {
  left: -120vw;
}
.left-slider.right-slider,
.right-slider.right-slider {
  right: -120vw;
}
.left-slider.left-slider.active,
.right-slider.left-slider.active {
  box-shadow: 3px 3px 30px 100vw rgba(14, 14, 14, 0.6901960784);
  left: 0;
}
.left-slider.right-slider.active,
.right-slider.right-slider.active {
  box-shadow: 3px 3px 30px 100vw rgba(14, 14, 14, 0.6901960784);
  right: 0;
}
.left-slider .matches-box,
.right-slider .matches-box {
  margin-bottom: 25px;
}
.left-slider .matches-box .date,
.right-slider .matches-box .date {
  margin: 20px 0px;
  font-weight: normal;
  font-size: 21px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 4px;
}
.left-slider .matches-box > div,
.right-slider .matches-box > div {
  margin-bottom: 15px;
}
.left-slider .matches-box .match-result,
.right-slider .matches-box .match-result {
  display: flex;
  justify-content: space-evenly;
}
.left-slider .matches-box .match-result .result,
.right-slider .matches-box .match-result .result {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 450px) {
  .left-slider,
  .right-slider {
    min-width: 100vw;
    padding: 5px;
  }
  .left-slider.left-slider,
  .right-slider.left-slider {
    left: -155vw;
    box-shadow: 38px 0px 30px rgba(14, 14, 14, 0.6901960784);
  }
  .left-slider.right-slider,
  .right-slider.right-slider {
    right: -155vw;
    box-shadow: -38px 0px 30px rgba(14, 14, 14, 0.6901960784);
  }
  .left-slider .matches-box .match-result,
  .right-slider .matches-box .match-result {
    gap: 6px;
  }
  .left-slider .matches-box .match-result .result,
  .right-slider .matches-box .match-result .result {
    font-size: 20px;
    gap: 6px;
  }
}

.register-players {
  background-color: white;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
}
.register-players.active {
  top: 50%;
  box-shadow: 3px 3px 12px 100vw rgba(35, 35, 35, 0.39);
}
.register-players .player {
  min-width: 145px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(45deg, #00133c, #018bd5);
  padding: 4px 15px 4px 4px;
  border-radius: 26px;
  color: white;
  margin: 14px;
}
.register-players .player img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #fff;
  padding: 3px;
}
.register-players .player h3 {
  font-size: initial;
}
.register-players form {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 400px;
  background: linear-gradient(45deg, #00133c, #018bd5);
  padding: 20px;
  border-radius: 5px;
  color: white;
  position: relative;
  margin-bottom: 60px;
}
.register-players form input {
  width: 76%;
  border: none;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.register-players form input:focus {
  outline: none;
}
.register-players form .warning {
  color: red;
  font-size: 11px;
  display: none;
  position: absolute;
  right: 0;
  bottom: -20px;
  font-weight: bold;
  background: white;
  padding: 2px;
  border-radius: 4px;
  width: 273px;
  transform: translateY(2px);
  border: 2px solid;
}
.register-players form p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.register-players form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.register-players form > div:last-child {
  display: none;
  gap: 10px;
  align-items: center;
}
.register-players form > div:last-child p {
  width: 71px;
}
.register-players form > div.active {
  display: flex;
}
.register-players label {
  font-weight: bold;
  display: inline-block;
  width: 77px;
  text-transform: uppercase;
  font-size: 12px;
}
.register-players .emoji-container {
  width: 77px;
  background: #fff;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 26px;
  overflow-y: scroll;
  height: 34px;
}
.register-players .emoji-container img {
  width: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.register-players .emoji-container img:hover {
  background-color: rgb(0, 200, 40);
}
.register-players .emoji-container .active {
  background-color: rgb(0, 200, 40);
}
.register-players > div:last-child {
  font-size: 13px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  color: #0084cb;
  font-weight: bold;
}
.register-players .close-btn::after, .register-players .close-btn::before {
  content: "";
  background-color: red;
}
.register-players button {
  background: linear-gradient(45deg, #00133c, #018bd5);
  color: white;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 22px;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  right: 98px;
  cursor: pointer;
}
.register-players button:first-of-type {
  bottom: 30px;
  left: 98px;
}
@media (max-width: 450px) {
  .register-players {
    width: 95vw;
    padding: 6px;
  }
  .register-players form {
    width: 100%;
  }
  .register-players form .warning {
    font-size: 10px;
    padding: 4px;
    width: 282px;
    border: none;
  }
  .register-players > div:last-child {
    bottom: 10px;
  }
  .register-players button {
    right: 65px;
  }
  .register-players button:first-of-type {
    left: 65px;
  }
}

.sign-in-msg {
  padding: 10px 19px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  text-transform: uppercase;
  transition: 0.4s;
  text-align: center;
}

.xo-popup {
  border-radius: 4px;
  display: flex;
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  padding: 4px;
  gap: 4px;
}
.xo-popup::after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  border-right-width: 10px;
  border-left-width: 10px;
  border-top-color: #000000;
  left: 25px;
  bottom: -39px;
}
.xo-popup.first-player-clr {
  background: linear-gradient(45deg, #00133c, #018bd5);
}
.xo-popup.first-player-clr::after {
  border-top-color: #022c39;
}
.xo-popup.second-player-clr {
  background: linear-gradient(45deg, #3c0000, #d50101);
}
.xo-popup.second-player-clr::after {
  border-top-color: #5a0505;
}

.x-shape,
.o-shape {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 2px;
  color: black;
  background: #fff;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
}

.game-end-popup {
  width: 600px;
  height: 216px;
  background-image: url(../../assets/imgs/winner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.game-end-popup h2 {
  line-height: 2;
  font-size: 40px;
}
.game-end-popup button {
  border: none;
  font-weight: bold;
  padding: 11px 20px;
  border-radius: 5px;
  background-color: #39dc33;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  cursor: pointer;
}
@media (max-width: 450px) {
  .game-end-popup {
    width: 95vw;
  }
}/*# sourceMappingURL=style.css.map */