* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  transition: 0.5s;
  font-family: system-ui;
  overflow: hidden;
  background: {
    image: url(../../assets/imgs/bg.jpg);
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

// Scroll Style
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0895e6, #de0808);
  border-radius: 8px;
}

// Overlay Layer
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(27 27 27 / 60%);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  z-index: -1;
}

// Heading
h1 {
  color: white;
  margin-top: 30px;
  text-align: center;
  font-size: 53px;
}

// Players Account
.players-account {
  gap: 330px;
  width: fit-content;
  margin: 18px auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .start {
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  @media (max-width: 760px) and (min-width: 450px) {
    gap: 160px;
    .start {
      width: 80px;
    }
  }

  @media (max-width: 450px) {
    gap: 0;
    width: 95%;
    .start {
      opacity: 0;
      width: 0;
    }
  }
}

.account {
  background: linear-gradient(45deg, #00133c, #018bd5);
  font-size: 16px;
  width: fit-content;
  min-width: 130px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  padding: 4px 14px 4px 5px;
  gap: 9px;
  color: white;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    padding: 4px;
  }

  h3 {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span:not(.start-playing span) {
    padding: 3px 45px;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  @media (max-width: 450px) {
    font-size: 14px;
    min-width: 115px;
    padding: 4px 14px 4px 5px;
    gap: 5px;

    img {
      width: 35px;
      height: 35px;
    }

    h3 {
      width: 55px;
    }
  }
}

.first-player,
.second-player {
  position: relative;

  .player-info {
    position: absolute;
    left: 0;
    top: 95px;
    background: #fff;
    border-radius: 5px;
    width: 233px;
    overflow: hidden;
    box-shadow:
      -5px -5px 20px rgb(44 44 44 / 45%),
      5px 5px 20px rgb(53 53 53 / 48%);
    font-weight: bold;
    transition: 0.3s;
    opacity: 0;

    &.active {
      top: 62px;
      opacity: 1;
      z-index: 999;
    }

    > div:nth-child(2) {
      color: #0084cb;
      cursor: pointer;
    }

    > div:not(.close-btn, div:first-child) {
          padding: 7px 5px;
    padding-right: 30px;
    display: flex;
    justify-content: space-evenly;
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 2px;
    border-bottom: 1px solid #dadada;
      span:first-child {
        width: 106px;
      }
    }

    .account {
      width: 100%;
      border-radius: 0;
      color: white;
      justify-content: left;
    }

    button {
      background: linear-gradient(45deg, #00133c, #018bd5);
      border: none;
      padding: 8px;
      border-radius: 4px;
      text-transform: uppercase;
      cursor: pointer;
      margin: 8px auto;
      color: white;
      display: block;
    }
  }

  &.second-player {
    button {
      background: linear-gradient(45deg, #3c0000, #d50101);
    }

    .player-info {
      right: 0;
      left: auto;
    }
  }
}

.second-player-clr {
  background: linear-gradient(45deg, #3c0000, #d50101);
}

// Player Turn
.start-playing {
  background-color: #1496bc;
  font-size: 16px;
  width: fit-content;
  border-radius: 27px;
  display: flex;
  align-items: center;
  padding: 4px 14px 4px 5px;
  gap: 9px;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: transparent;

  span {
    width: fit-content;
  }

  .red,
  .blue {
    border: 10px solid transparent;
  }

  .blue {
    border-right: 20px solid #0a94be;
    opacity: 0;
  }

  .red {
    border-left: 20px solid #c00707;
  }
}

.close-btn {
  position: absolute;
  top: 13px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    width: 3px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    display: block;
    position: absolute;
    border-radius: 7px;
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.container {
  display: grid;
  $box: 110px;
  grid-template-rows: repeat(3, $box);
  grid-template-columns: repeat(3, $box);
  gap: 10px;
  justify-content: center;

  @media (max-width: 760px) {
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
  }

  .box {
    box-shadow:
      -2px -2px 10px #dbdbdb,
      2px 2px 10px #dbdbdb;
    background-color: white;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 71px;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 4px;
  }
}

// Rounds
.rounds {
  width: 530px;
  height: 130px;
  justify-content: space-between;
  display: flex;
  background-color: white;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #222222;
  margin: 25px auto;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div:last-child {
    .account {
      background: linear-gradient(45deg, #3c0000, #d50101);
    }
  }

  @media (max-width: 760px) {
    width: 450px;
    height: 115px;
    padding: 15px;
  }

  @media (max-width: 450px) {
    width: 95%;
    padding: 7px;
    font-size: 22px;
  }
}

// Asides
.left-slider,
.right-slider {
  color: white;
  min-width: 450px;
  position: fixed;
  height: 100vh;
  top: 0px;

  background: {
    image: url(../../assets/imgs/bg-list.jpg);
    position: center;
    repeat: no-repeat;
    size: cover;
  }

  padding: 20px;
  text-align: center;
  overflow-y: scroll;
  transition: 0.3s;
  z-index: 1000;

  &.left-slider {
    left: -120vw;
  }

  &.right-slider {
    right: -120vw;
  }

  &.left-slider.active {
    box-shadow: 3px 3px 30px 100vw rgba(14, 14, 14, 0.6901960784);
    left: 0;
  }

  &.right-slider.active {
    box-shadow: 3px 3px 30px 100vw rgba(14, 14, 14, 0.6901960784);
    right: 0;
  }

  .matches-box {
    margin-bottom: 25px;

    .date {
      margin: 20px 0px;
      font-weight: normal;
      font-size: 21px;
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 4px;
    }

    > div {
      margin-bottom: 15px;
    }

    .match-result {
      display: flex;
      justify-content: space-evenly;

      .result {
        font-size: 25px;
        display: flex;
        align-items: center;
        gap: 25px;
      }
    }
  }

  @media (max-width: 450px) {
    min-width: 100vw;
    padding: 5px;

    &.left-slider {
      left: -155vw;
      box-shadow: 38px 0px 30px #0e0e0eb0;
    }

    &.right-slider {
      right: -155vw;
      box-shadow: -38px 0px 30px #0e0e0eb0;
    }

    .matches-box .match-result {
      gap: 6px;

      .result {
        font-size: 20px;
        gap: 6px;
      }
    }
  }
}

.register-players {
  background-color: white;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;

  &.active {
    top: 50%;
    box-shadow: 3px 3px 12px 100vw rgb(35 35 35 / 39%);
  }

  .player {
    min-width: 145px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(45deg, #00133c, #018bd5);
    padding: 4px 15px 4px 4px;
    border-radius: 26px;
    color: white;
    margin: 14px;

    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: #fff;
      padding: 3px;
    }

    h3 {
      font-size: initial;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 400px;
    background: linear-gradient(45deg, #00133c, #018bd5);
    padding: 20px;
    border-radius: 5px;
    color: white;
    position: relative;
    margin-bottom: 60px;

    input {
      width: 76%;
      border: none;
      padding: 10px;
      background-color: #fff;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }

    .warning {
      color: red;
      font-size: 11px;
      display: none;
      position: absolute;
      right: 0;
      bottom: -20px;
      font-weight: bold;
      background: white;
      padding: 2px;
      border-radius: 4px;
      width: 273px;
      transform: translateY(2px);
      border: 2px solid;
    }

    p {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      &:last-child {
        display: none;
        gap: 10px;
        align-items: center;

        p {
          width: 71px;
        }
      }

      &.active {
        display: flex;
      }
    }
  }

  label {
    font-weight: bold;
    display: inline-block;
    width: 77px;
    text-transform: uppercase;
    font-size: 12px;
  }

  .emoji-container {
    width: 77px;
    background: #fff;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 26px;
    overflow-y: scroll;
    height: 34px;

    img {
      width: 30px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: rgb(0, 200, 40);
      }
    }

    .active {
      background-color: rgb(0, 200, 40);
    }
  }

  & > div {
    &:last-child {
      font-size: 13px;
      position: absolute;
      bottom: 20px;
      cursor: pointer;
      color: #0084cb;
      font-weight: bold;
    }
  }

  .close-btn {
    &::after,&::before {
      content: "";
      background-color: red;
    }
  }

  button {
    background: linear-gradient(45deg, #00133c, #018bd5);
    color: white;
    border: none;
    width: fit-content;
    padding: 8px 22px;
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
    right: 98px;
    cursor: pointer;

    &:first-of-type {
      bottom: 30px;
      left: 98px;
    }
  }

  @media (max-width: 450px) {
    width: 95vw;
    padding: 6px;

    form {
      width: 100%;

      .warning {
        font-size: 10px;
        padding: 4px;
        width: 282px;
        border: none;
      }
    }

    & > div {
      &:last-child {
        bottom: 10px;
      }
    }

    button {
      right: 65px;

      &:first-of-type {
        left: 65px;
      }
    }
  }
}

// Sign In Msg
.sign-in-msg {
  padding: 10px 19px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  text-transform: uppercase;
  transition: 0.4s;
  text-align: center;
}


// XO-Popup Shape
.xo-popup {
  border-radius: 4px;
  display: flex;
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  padding: 4px;
  gap: 4px;

  &::after {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-right-width: 10px;
    border-left-width: 10px;
    border-top-color: #000000;
    left: 25px;
    bottom: -39px;
  }

  &.first-player-clr {
    background: linear-gradient(45deg, #00133c, #018bd5);

    &::after {
      border-top-color: #022c39;
    }
  }

  &.second-player-clr {
    background: linear-gradient(45deg, #3c0000, #d50101);

    &::after {
      border-top-color: #5a0505;
    }
  }
}

.x-shape,
.o-shape {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 2px;
  color: black;
  background: #fff;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
}

// Show Winner Popup
.game-end-popup {
  width: 600px;
  height: 216px;
  background-image: url(../../assets/imgs/winner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    line-height: 2;
    font-size: 40px;
  }

  button {
    border: none;
    font-weight: bold;
    padding: 11px 20px;
    border-radius: 5px;
    background-color: #39dc33;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    cursor: pointer;
  }

  @media (max-width: 450px) {
    width: 95vw;
  }
}
